<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Post Details</h2>
      <div class="post">
        <h4 class="user">@<%=post.username%></h4>
        <p class="content"><%=post.content%></p>
        <p class="meta-info">Post ID: <%= post.id %></p>
      </div>
      <a href="http://localhost:8080/posts" class="btn back-link"
        >Back to All Posts</a
      >
    </div>
  </body>
</html>
